<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body>
    <a class="github-fork-ribbon" href="https://github.com/columbusrb/columbusrb.github.io" title="Fork me on GitHub" data-ribbon="Fork me on GitHub" target="_blank">Fork me on GitHub</a>

    {%- include header.html -%}

    <main>
      {{ content }}
    </main>

    {%- include footer.html -%}
  </body>
</html>
